@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-secondary-dark text-primary-dark;
}

.light {
  @apply bg-secondary-light text-primary-light;
}

.dark-shadow {
  filter: drop-shadow(0px 2px 4px theme("colors.secondary.dark.off"));
}

.dark-shadow:hover {
  filter: drop-shadow(0px 2px 4px theme("colors.secondary.dark.off"))
    drop-shadow(0px 2px 10px rgba(255, 255, 255, 0.2));
}
.dark-shadow:active {
  filter: drop-shadow(0px 2px 10px rgba(255, 255, 255, 0.8));
}

.light-shadow {
  filter: drop-shadow(0px 2px 4px theme("colors.secondary.light.off"));
  transition: filter 0.01s ease-in-out;
}

.light-shadow:hover {
  filter: drop-shadow(0px 2px 4px theme("colors.secondary.light.off"))
    drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
}

.light-shadow:active {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.6));
}
